body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  background-color: #f0f0f0;
}
.card{
  background-color: black;
  max-width: 100vh;
  color:white;
  text-align: center;
  justify-items: center;
  align-items: center;
  padding: 20px;
}